@charset "utf-8";
/* CSS Document */

/*.ui-header{
	height:100px;
	
	}*/
	
/*#formBox input[text]{
	outline:none;
	border:0px;
	background-color:#333;
	
	
	
	}*/
#entries{
	background-color:#C9F;
	text-shadow:none;
	
	
	}
	
.ui-list{
	color:#CF0;
	
	
	}	
